@font-face{
    font-family: zephy;
    src: url(../fonts/zephyreg.ttf);
}

:root{
    font-size: clamp(8px, 26px, 36px);
    --left-width: 40%;
    --right-width: calc(100% - var(--left-width));
    font-family: zephy;
    background-color: #444;
    
}

body{
    width: 98vw;
    height: 98vh;
    display: flex;
}

.credit{
    font-size: .9rem;
    background-color: #0008;
}

section.leftCol{
    width: var(--left-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;
    position: relative;
}

.backgroundImage{
    z-index: -99;
    position: absolute;
    height: 100%;
    border-radius: 2rem;
}

.logoBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    position: relative;
    top: 5%;
    background-color: #fff8;
    width: 50%;
    border-radius: 1rem;
}

.logoBackground h2{
    color: #052;
}

#logo{
    height: 100%;
}


section.rightCol{
    width: var(--right-width);
    
}

.rightCol div{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.rightCol p,
.rightCol form{
    width: 80%;
    text-align: left;
}

form{
    padding: 4px;
    border: 2px solid black;
    border-radius: .5rem;
}

form button{
    background-color: #052;
    color: white;
    border-radius: 4px;
}